body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    height: 100vh;
    background: linear-gradient(45deg, rgba(172, 169, 169, 0.896), #ec7676) ;
    margin: 0;
    padding: 0;
    color: #fff; 
}

h1 {
    margin: 20px 0;
    color: #000000; 
}

.weather {
    background-color: #555; 
    border-radius: 5px;
    padding: 20px;
    max-width: 450px;
    margin: 0 auto;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.search {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #a9a9a9; 
    border-radius: 5px;
    background-color: #e3e3e3;
    color: #494949;
}

button {
    padding: 10px 20px;
    background-color: #AA0000; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #880000; 
}


/* ============= Media query ========== */
@media (max-width: 660px) {
    .weather {
        max-width: 100%;
        margin: 0 10px;
    }
}
