html {
    background-image: url('Art.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: transparent; 
    margin: 0;
    padding: 0;
    color: #fff; 
}

h1 {
    margin: 20px 0;
    color: #fff; 
}

.weather {
    background-color: #111; 
    border: 1px solid #222;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.search {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #a9a9a9; 
    border-radius: 5px;
    background-color: #e3e3e3;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #AA0000; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #880000; 
}


/* ============= Media query ========== */
@media (max-width: 660px) {
    .weather {
        max-width: 100%;
        margin: 0 10px;
    }
}
